@font-face {
  font-family: "iconfont"; /* Project id 2794463 */
  src: url('iconfont.woff2?t=1634032554238') format('woff2'),
       url('iconfont.woff?t=1634032554238') format('woff'),
       url('iconfont.ttf?t=1634032554238') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-chufapeizhishangbiao:before {
  content: "\e6a4";
}

.icon-zu1407:before {
  content: "\e637";
}

.icon-cunchu:before {
  content: "\e604";
}

.icon-rizhi:before {
  content: "\e60e";
}

.icon-gongzuofuzai:before {
  content: "\e639";
}

.icon-yibiaopan:before {
  content: "\e791";
}

.icon-jiasu:before {
  content: "\e60f";
}

.icon-chufadongzuo:before {
  content: "\e65c";
}

.icon-gailan:before {
  content: "\e605";
}

.icon-jiedian:before {
  content: "\e616";
}

.icon-fuelFiller_back_home:before {
  content: "\e61c";
}

.icon-suofang:before {
  content: "\e61f";
}

.icon-jiqun:before {
  content: "\e669";
}

.icon-zidingyipeizhi:before {
  content: "\e681";
}

.icon-jiqunliebiao:before {
  content: "\e63b";
}

.icon-zichanguanli:before {
  content: "\e611";
}

.icon-shouquan:before {
  content: "\e63e";
}

.icon-kongjian:before {
  content: "\e829";
}

.icon-fuwu:before {
  content: "\e623";
}

.icon-minglinghang:before {
  content: "\e654";
}

.icon-bangzhuzhongxinxuanzhong:before {
  content: "\e601";
}

.icon-minglinghang1:before {
  content: "\e603";
}

.icon-jiankong:before {
  content: "\e610";
}

.icon-zuzhijiagoushangxialajian:before {
  content: "\e642";
}

.icon-star:before {
  content: "\e602";
}

.icon-tuanduichengyuan:before {
  content: "\e624";
}

.icon-tuozhuai:before {
  content: "\e600";
}

